.headerWrapper {
       background-color: rgb(160, 160, 233);
       padding: 3px;
       text-align: center;
       border-bottom: 3px solid rgb(110, 110, 255);
}

.headerTitle {
       font-size: 16px;
       font-family: serif;
       color: blue;    
}